* {
  padding: 0;
  margin: 0
}

body {
  background-color: #000000;
}

.mySlides {display:none;}

.nameApp {
    margin: 0 auto;
    width: 55%;
    font-family: myFirstFont;
    font-size: 112px;
    padding-top: 50px;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/orange.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(../fonts/serif.ttf);
}

.register {
  font-family: mySecondFont;
  font-size: 30px;
}

.form-postioner {
  margin: 0 auto;
}